= form_for @user, url: step4_signup_index_path, method: :get, html: {class: 'th-wrapper__box'} do |f|
  = f.text_field :postal_code, placeholder: '郵便番号'
  = f.text_field :prefecture, placeholder: '都道府県'
  = f.text_field :city, placeholder: '市町村'
  = f.text_field :house_number, placeholder: '番地'
  = f.text_field :building_name, placeholder: 'マンション名号室'
  = f.submit 