= stylesheet_link_tag "usershow", media: "all"
= stylesheet_link_tag "items", media: "all"
= render partial: "toppage/header"
= render partial: "users/side"
.top
  .box
    .form
      %h2.top__text
        住所変更内容
      .form__frame
        =form_with(model: @address, url: address_update_user_path, method: :patch, html:{class: "personal-input-form"}, local: true) do |f|
          .form_text
            = f.label :郵便番号 
            %span.textimage 必須
          = f.text_field :postal_code,{autofocus: true, placeholder: "例）123-4567", class: 'input-text'}
          .form_text
            = f.label :都道府県
            %span.textimage 必須
          = f.collection_select :prefecture_id, Prefecture.all, :id, :name, {prompt:"選択してください"}, {class: 'input-text'}
          .form_text
            = f.label :市町村
            %span.textimage 必須
          = f.text_field :city, autofocus: true, placeholder: "例）横浜市緑区", class: 'input-text'
          .form_text
            = f.label :番地
            %span.textimage 必須
          = f.text_field :house_number, autofocus: true, placeholder: "例）青山1-1-1", class: 'input-text'
          .form_text
            = f.label :建物名
            %span.form-group__optional 任意
          = f.text_field :building_name, autofocus: true, placeholder: "例）筋肉塾ビル315", class: 'input-text'
          .form_text
            = f.label :電話番号
            %span.form-group__optional 任意
          = f.text_field :tell, autofocus: true, placeholder: "例）09012345678", class: 'input-text'
          .next
            = f.submit '変更する', class: "nextbtn", url: "creditcard_path"

= render partial: "toppage/footer"