= stylesheet_link_tag "usershow", :media => "all"
= stylesheet_link_tag "items", :media => "all"
= render partial: "toppage/header"
= render partial: "users/side"
.mypage_b  
  .mypage-contents
    .main-content
      .logout
        .logout-content
          =link_to destroy_user_session_path, method: :delete, class:"btn-default" do
            ログアウト
= render partial: "toppage/footer"