= stylesheet_link_tag 'usernew/new_credit', media: 'all'
= stylesheet_link_tag "usershow", :media => "all"
-# = stylesheet_link_tag "items", :media => "all"
= render partial: "toppage/header"
= render partial: "users/side"


.single-main
  .single-main__container
    %h2.single-main__container__title
      支払い方法
    .single-main__container__form
      .single-main__container__form__frame
        = form_with model: @credit_card, html: { name: "inputForm" },class:"form" do |f|
          -# = render "devise/shared/error_messages", resource: @creditcard
          .form-group
            #number-form.payjs-outer
            -# = f.label :カード番号
            -# %span.form-group__require 必須
            -# = f.text_field :card_number, {placeholder: "半角数字のみ", class: "form-group__input"}
          .form-group
            -# = f.label :カード会社
            -# %span.form-group__require 必須
            -# = f.select :card_company, Creditcard.card_companies.keys, {}, {class: 'form-group__input'}
            %ul.signup__card--list
              %li.icon--visa
                = image_tag("SVG/visa.svg", id:"icon--visa")
              %li.icon--master
                = image_tag("SVG/master-card.svg", id:"icon--master")
              %li.icon--saison
                = image_tag("SVG/saison-card.svg", id:"icon--saison")
              %li.icon--jcb
                = image_tag("SVG/jcb.svg", id:"icon--jcb")
              %li.icon--americanexpress
                = image_tag("SVG/american_express.svg", id:"icon--americanexpress")
              %li.icon--diners
                = image_tag("SVG/dinersclub.svg", id:"icon--diners")
              %li.icon--discover
                = image_tag("SVG/discover.svg", id:"icon--discover")
          .form-group
            有効期限
            -# %span.form-group__require 必須
            %br
            #expiry-form.payjs-outer
            -# != sprintf(f.date_select(:expiration_date,with_css_classes:'XXXXX', order:[:month,:year,:day], use_month_numbers:true, discard_day:true, start_year:Time.now.year-2000, end_year:Time.now.year-2000+10, date_separator:'%s'),'月') + '年'
            -# = f.select :card_year, options_for_select(["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12"]), {}, {class: "form-group__input--half"}
            -# = f.label :月, class: "form-group__card--year-and-month"
            -# = f.select :card_month, options_for_select(["20", "21", "22", "23", "24", "25", "26", "27", "28", "29", "30"]), {}, {class: "form-group__input--half"}
            -# = f.label :年, class: "form-group__card--year-and-month"
          .form-group
            #cvc-form.payjs-outer
          
          %span#token
          .form-group
            #card_token
              = f.submit "登録する", class: "btn-default btn-red", id: "charge-form"