.header
  .header--main
    .header--main-logo
      = link_to root_path do
        = image_tag 'logo/logo.png', class: "header--main-img"
    .header--main__form
      = form_with url: root_path(class: 'header--main__form') do |form|
        = form.text_field :keyword, placeholder: "キーワードから探す", class: "header--main__form-text", autocomplete: "off"
        = form.submit class: "header--main__form__btn", value: ""
        = image_tag 'icon/icon-search 1.png', class: "header--main__form__serach", width: '20px'
  .header--content
    %ul.header--contentleft
      %li.header--contentleft1 カテゴリー
      %li.header--contentleft1 ブランド
    %ul.header--contentrigth
      - if user_signed_in?
        %li.mypage
          = link_to user_path(current_user.id), class: "mypage_btn" do
            マイページ
      - else
        %li.header--contentrigth1
          = link_to new_user_registration_path, class: "usernew" do
            新規会員登録
        %li.header--contentrigth1
          = link_to new_user_session_path, class: "login" do
            ログイン
      
​
