= stylesheet_link_tag 'usernew/signup1', media: 'all'
.top
  .form
    = image_tag "logo/logo.png", class: :top__image
    .form_box
      .form__text
        %label.textlabel(for="file")アカウントをお持ちでない方はこちら
      .new
        = link_to new_user_registration_path, data: { no_turbolink: true }, class: "newbtn" do
          新規会員登録
        -# %button.newbtn{type: :button}
        -#   新規会員登録
      -# 本来ならここにGOOGLE等でのログイン機能が入る
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .form_text
          = f.email_field :email, autofocus: true, autocomplete: "email", class: 'input-text', placeholder: :"メールアドレス"
        .form_text1
          = f.password_field :password, autocomplete: "current-password", placeholder: :"パスワード", class: 'input-text'
        .login
          = f.submit "ログイン", class: 'loginbtn'
        - if devise_mapping.rememberable?
          .field
            = f.check_box :remember_me
            = f.label :remember_me
        .forget
          =link_to "#", class: "forgetlink" do
            パスワードをお忘れの方

      .bottomlink
        =link_to "#", class: "privacy link" do
          プライバシーポリシー
        =link_to "#", class: "service link" do
          利用規約
        =link_to "#", class: "notation link" do
          特定商取引に関する表記
      .bottom
        = image_tag "logo/logo.png", class: :bottomlogo
      %p.logotext ©️ FURIMA

    -#         <% if devise_mapping.rememberable? %>
  -#   <div class="field">
  -#     <%= f.check_box :remember_me %>
  -#     <%= f.label :remember_me %>
  -#   </div>
  -# <% end %>