
.wrapper__done
  .top
    = link_to "#" do
      = image_tag "/assets/logo/logo.png", height: "49", width: "185"
  .middle
    .purchaseConfirm
      %section.purchaseConfirm__contents
        %h2.title 購入内容の確認
      %section.purchaseConfirm__contents
        .item
          .item__img
            = image_tag "/assets/pict/dumbbell.jpg", height: "80", width: "80"
          .item__content
            %p.paragraph ダンベル　2個セット
            %p.paragraph
              %span 送料込み (税込)
              %b ¥2,980
      %section.purchaseConfirm__contents
        .priceConfirm
          %span.amount 支払い金額
          %span.price ¥2,980
      %section.purchaseConfirm__contents
        .paymentOptions
          .paymentOptions__content
            %h3.paymentOption 支払い方法
            = link_to "変更する ＞", "#", class: "changeButton"
          .cardInformation
            %p.paragraph クレジットカード
            %p.paragraph ************0000
            %p.paragraph
              有効期限
              00 / 00
            = image_tag "/assets/logo/visa.png", height: "14.81", width: "48", class:"visa"
      %section.purchaseConfirm__contents
        .shippingAddress
          .shipping
            %h3.shipping__title 配送先
            = link_to "変更する ＞", "#", class: "changeButton"
          .userAddress
            %p.paragraph 〒000-0000
            %p.paragraph 大阪府　大阪市　
            %p.paragraph 筋肉塾
            %p.paragraph 塾長　岩谷 勇希
      %section.purchaseConfirm__contents
        %button.purchaseButton{:type => "button"} 購入する
  .bottom
    .bottomContents
      %ul.bottomLists
        %li.bottomLists__content
          = link_to "プライバシーポリシー", "#", class: "other"
        %li.bottomLists__content
          = link_to "フリマ利用規約", "#", class: "other"
        %li.bottomLists__content
          = link_to "特定商取引に関する表記", "#", class: "other"
    = link_to "#" do
      = image_tag "/assets/logo/logo-white.png", height: "55", width: "160"
    %p.paragraph © TechcampTeamA, Inc.