
= stylesheet_link_tag 'itemdone', media: 'all'
.wrapper__done
  .top
    = link_to "#" do
      = image_tag "logo/logo.png", height: "49", width: "185"
  .middle
    .purchaseConfirm
      %section.purchaseConfirm__contents
        %h2.title 購入内容の確認
      %section.purchaseConfirm__contents
        .item
          .item__img
            = image_tag @item.item_images[0].url.url, height: "80", width: "80"
          .item__content
            %p.paragraph
              = @item.name
            %p.paragraph
              -# %span 送料込み (税込)
              -# %b ¥2,980
      %section.purchaseConfirm__contents
        .priceConfirm
          %span.amount 支払い金額
          %span.price 
            = "¥#{@item.price.to_s(:delimited, delimiter: ',')}"
      %section.purchaseConfirm__contents
        .paymentOptions
          .paymentOptions__content
            %h3.paymentOption 支払い方法
            -# = link_to "変更する ＞", "#", class: "changeButton"
          .cardInformation
            %p.paragraph クレジットカード
            %p.paragraph
            = "**** **** **** " + @default_card_information.last4
            %p.paragraph
              有効期限
              - exp_month = @default_card_information.exp_month.to_s
              - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
              = exp_month + " / " + exp_year
            = image_tag "logo/visa.png", height: "14.81", width: "48", class:"visa"
      %section.purchaseConfirm__contents
        .shippingAddress
          .shipping
            %h3.shipping__title 配送先
            = link_to "変更する ＞",address_user_path , class: "changeButton"
          .userAddress
            %p.paragraph 
              〒
              = @address.postal_code
            %p.paragraph.pre 
              = @address.prefecture.name
            %span
              = @address.city
            %p.paragraph
              = @address.house_number
            %p.paragraph.pre
              = @user.family_name
            %span
              = @user.last_name
              
      %section.purchaseConfirm__contents
        %button.purchaseButton
          =link_to purchase_item_path, method: :post, class:"purchaseButton" do
            購入する
  .bottom
    .bottomContents
      %ul.bottomLists
        %li.bottomLists__content
          = link_to "プライバシーポリシー", "#", class: "other"
        %li.bottomLists__content
          = link_to "フリマ利用規約", "#", class: "other"
        %li.bottomLists__content
          = link_to "特定商取引に関する表記", "#", class: "other"
    = link_to "#" do
      = image_tag "/assets/logo/logo-white.png", height: "55", width: "160"
    %p.paragraph © TechcampTeamA, Inc.