= stylesheet_link_tag "items", media: "all"
-# hamada ここから
= render partial: "toppage/header"
.main.AppBanner1
  .main-top
    %p.main-top1 人生を変えるフリマアプリ
    %p.main-top2 
      FURIMAはだれでもかんたんに出品・購入できる
      %br フリマアプリです
      = image_tag 'app-store.png', class: "appbtn"
      = image_tag 'google-play.png', class: "appbtn"  
.main1
  .main1__text
    FURIMAが選ばれる3つの理由
  .main1__bar
  .main1box
    %ul.main1box__image1
      %li= image_tag "pict/pict-reason-01.jpg", class: "main1box__image1_0"
      .main1box__imagebtn.btn1 1
      %li.main1box__image1_1.maintext
        %span.main1box__image1_11 3分
        ですぐに出品
      %li.main1box__image1_2 スマホで入力するだけで簡単に出品できる！
    %ul.main1box__image2
      .main1box__imagebtn.btn2 2
      %li= image_tag "pict/pict-reason-02.jpg", class: "main1box__image2_0"
      %li.main1box__image2_1.maintext
        %span.main1box__image2_11 シンプル
        で使いやすい
      %li.main1box__image2_2 めんどくさい入力は必要なく、検索も購入もスムーズ！
    %ul.main1box__image3
      .main1box__imagebtn.btn3 3
      %li= image_tag "pict/pict-reason-03.jpg", class: "main1box__image3_0"
      %li.main1box__image3_1
        手数料
        %span.main1box__image3_11 業界最安
      %li.main1box__image3_2 最大3%でお得に出品&購入！
​
​
.AppBanner2.bottomimage
  .AppBanner2-img
    .AppBanner2-img__title1 会員数日本一位
    .AppBanner2-img__title2
      FURIMAは、フリマアプリで最も人気。
      %br 出品・購入回数も業界最多です！
      ほしかったあの商品に出会えるかもしれません。
    = image_tag 'app-store.png', class: "appbtn"
    = image_tag 'google-play.png', class: "appbtn"    

​

.main2
  %section.topKeyFeatures
    %h2.head FURIMAの特徴
    .items
      %section.item
        %figure.item__img
          = image_tag "icon/icon-01.png", height: "337.61", width: "219.33"
        %h3.item__subtitle 簡単に売り買いできる
        %p.item__detail
          スマホひとつで、いつでもどこでも簡単に出品・購入が可能！
      %section.item
        %figure.item__img
          = image_tag "icon/icon-03.png", height: "337.61", width: "219.33"
        %h3.item__subtitle 売上金は即日振込みに対応
        %p.item__detail
          午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします!
      %section.item
        %figure.item__img
          = image_tag "icon/icon-04.png", height: "337.61", width: "219.33"
        %h3.item__subtitle 様々な支払いに対応
        %p.item__detail
          お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。
​
.pickupContainer
  %h2.head ピックアップカテゴリー
  .productBox
    .productHead
      = link_to "新規投稿商品", '#', class: "title"
    .productLists
      .productList
        - @items.each do |item|
          = link_to "/items/#{item.id}" do
            %figure.productList--img
              - item.item_images.each do |image|
                = image_tag image.url.url, height: "150", width: "220"
                - break
            .productList--body
              %h3.name
                = item.name
              .details
                - if item.order_status == "出品中"
                  %ul
                    %li
                      = "¥#{item.price.to_s(:delimited, delimiter: ',')}"
                    %li
                      %i.fa.fa-star.likeIcon
                      1
                  %p.tax (税込)
                - else
                  %ul
                    %li.soldOut sold out
​
.pickupContainer
  %h2.head ピックアップブランド
  .productBox
    .productHead
      = link_to '#' do
        %h3.title アーカイバ
    .productLists
      .productList
        - @items.each do |item|
          = link_to "/items/#{item.id}" do
            %figure.productList--img
              - item.item_images.each do |image|
                = image_tag image.url.url, height: "150", width: "220"
                - break
            .productList--body
              %h3.name
                = item.name
              .details
                - if item.order_status == "出品中"
                  %ul
                    %li
                      = "¥#{item.price.to_s(:delimited, delimiter: ',')}"
                    %li
                      %i.fa.fa-star.likeIcon
                      1
                  %p.tax (税込)
                - else
                  %ul
                    %li.soldOut sold out
​
.appBanner
  .inner
    .inner__title だれでもかんたん、人生を変えるフリマアプリ
    %p.inner__text 今すぐ無料ダウンロード！
    .inner__icon
      = link_to '#' do
        .linkIcon.aBtn
          = image_tag "app-store.png"
      = link_to '#' do
        .linkIcon.gBtn
          = image_tag "google-play.png"

= render partial: "toppage/footer"
​

= link_to new_item_path, data: {"turbolinks" => false} do
  .purchaseBtn
    %span.purchaseBtn__text 出品する
    .purchaseBtn__icon
      =image_tag "icon/icon_camera.png", width: '80px'
​
// 岩谷ここまで
