= stylesheet_link_tag "items", media: "all"
= render partial: "toppage/header"
.main__products__product__contents
  - @items.each do |item|
    .main__products__product__contents__content.effect-fade
      = link_to "/items/#{item.id}" do
        .main__products__product__contents__content__image
          -# = image_tag item.item_images.find_by(item_id: item.id).image_url
          .main__products__product__contents__content__image__price
            = "¥#{item.price}"
        .main__products__product__contents__content__name
          %p= "#{item.name}"
= render partial: "toppage/footer"