.new
  .newTop
    %p= image_tag 'logo/logo.png', class: "newTop--logo"

  .newMain
    .newMain-Box
      .newMain-Boxto
      = form_with(model: @item, html:{class: "newMain-Box__form"}, local: true) do |f| 
        = label :%, '出品画像',class: 'newMain-Box__form1 newlabel'
        %span.newspan 必須
        %P.newMain-Boxtotext 最大10枚までアップロードできます
        .newMain-img
        = f.fields_for :images do |image|
          .clearfix
            %ul#previews
              %li.input
                %P.upload-label
                  .upload-label__text
                    ドラッグアンドドロップ
                    %br
                    またはクリックしてファイルをアップロード
                    .input-area
                    = image.file_field :name, class: "newimage_upload"
        .newMain-BoxtoLine
        = label :%, '商品名',class: 'newlabel' 
        %span.newspan 必須
        %p= f.text_field :%, placeholder: '40文字まで', class: 'newMain-Boxto-name inputfield', autocomplete: "off", maxlength: '40', required: 'required'
        -# limit 40 ?? option追加
        = label :%, '商品の詳細',class: 'newlabel'
        %span.newspan 必須
        %p= f.text_area :%, size: "75x7", placeholder: "商品の説明（必須 1,000文字以内） \n（色、素材、重さ、定価、注意点など）\n\n例）1900年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。\nあわせやすいのでおすすめです。", autocomplete: "off", maxlength: '1000', id: 'inputin', class: 'countup'
        .countform
          %span.count1000.float-right 0
          %span.count.float-right /1000
        .clear
        %section.newdetail.newMain-BoxtoLine2 商品の詳細
        = label :%, 'カテゴリー',class: 'newlabel'
        %span.newspan 必須
        = form_for '' do |f|
          %p= f.select :budget_d, [["選択してください", 0]], {}, {class: 'select1 inputfield'}
          -# = f.カテゴリーテーブルから持ってくる
          -# 後ほど山崎さんができたら合わせる
        = label :%, 'ブランド', class: 'newlabel' 
        %span.newspan_1 任意
        %p= f.text_field :%, placeholder: '例)  Apple', class: 'inputfield', autocomplete: "off", id: 'brand'
        = label :%, '商品の状態', class: 'newlabel' 
        %span.newspan 必須
        %p= f.select :budget_d, [["選択してください", 0]], {}, {class: 'select2 inputfield'}
        %section.newdetail.newMain-BoxtoLine2 配送について
        = label :%, '配送料の負担', class: 'newlabel' 
        %span.newspan 必須
        %p= f.select :budget_d, [["選択してください", 0]], {}, {class: 'select3 inputfield'}
        = label :%, '発送元の地域', class: 'newlabel' 
        %span.newspan 必須
        %p= f.select :budget_d, [["選択してください", 0]], {}, {class: 'select4 inputfield'}
        = label :%, '発送までの日数', class: 'newlabel' 
        %span.newspan 必須
        %p= f.select :budget_d, [["選択してください", 0]], {}, {class: 'select5 inputfield'}
        %section.newdetail.newMain-BoxtoLine2 価格 (¥100〜9,999,999)
        .pricemain
          .pricemain-left
            = label :%, '販売価格',class: 'newlabel', id: 'pricetag'
            %span.newspan 必須
          .pricemain-price
            ¥
            = f.text_field :%, placeholder: '0', class: '', autocomplete: "off", id: 'pricein'
        -# %p.newpirce2 販売手数料
        -# %p.newpirce3 販売利益
        .newbtn  
          %p= f.submit "出品する",class: 'newbtn-send'
          %p= f.submit "下書きに保存",class: 'newbtn-draft'
          = link_to "もどる", root_path, class: 'newbtn-back'
          %p.newbtn-text 禁止されている行為および出品物を必ずご確認ください。偽ブランド品や盗品物などの販売は犯罪であり、法律により処罰される可能性があります。 また、出品をもちまして加盟店規約に同意したことになります。

  .newfooter
    %ul.newfooter-content
      %li.newfooter-content1 プライバシーポリシー
      %li.newfooter-content2 フリマ利用規約
      %li.newfooter-content3 特定商取引に関する表記
    .newfooter-logo
      =image_tag 'logo/logo-white.png', class: "newTop--logo", size: '150x50'
    .newfooter-text
      &copy;TechcampTeamA, Inc.
