= stylesheet_link_tag 'usernew/step3', media: 'all'
.top
  = image_tag "logo/logo.png", class: :top__image
  .box
    .form
      %h2.top__text
        住所入力
      .form_text
        %label.textlabel(for="file")郵便番号
        %span.textimage 必須
      %input.input-text{name: :nickname, placeholder: :"例）123-4567", type: :text}/
      .form_text
      =form_with url: root_path do |f|
        %label.textlabel(for="file")都道府県
        %span.textimage 必須
        %p= f.collection_select :prefecture_id, Prefecture.all, :id, :name, {prompt: "選択して下さい"}, {class: 'selectprefecture'}
      .form_text
        %label.textlabel(for="file")市区町村
        %span.textimage 必須
      %input.input-text{name: :password, placeholder: :"例)横浜市緑区", type: :text}/
      .form_text
        %label.textlabel(for="file")番地
        %span.textimage 必須
      %input.input-text{name: :password, placeholder: :"例)青山1-1-1", type: :text}/
      .form_text
        %label.textlabel(for="file")建物名
        %span.textimage 必須
      %input.input-text{name: :password, placeholder: :"例)柳ビル103", type: :text}/
    .next
      = link_to user_done_items_path, class: "nextbtn" do
        送信する
      -# %button.nextbtn{type: :button}
      -#   次へ進む
  .bottomlink
    =link_to "#", class: "privacy" do
      プライバシーポリシー
    =link_to "#", class: "service" do
      利用規約
    =link_to "#", class: "notation" do
      特定商取引に関する表記
  .bottom
    = image_tag "logo/logo.png", class: :bottomlogo
  %p.logotext ©️ FURIMA