= render partial: "toppage/header"
= stylesheet_link_tag 'items', media: 'all'
%nav.breadCrumbs
  %ul.categories
    %li.categories__list
      =link_to "FURIMA", "#"
    %li.categories__list
      %i.fa.fa-angle-right
    %li.categories__list 
      =link_to "カテゴリー1", "#"
    %li.categories__list
      %i.fa.fa-angle-right
    %li.categories__list
      =link_to "カテゴリー2", "#"
    %li.categories__list
      %i.fa.fa-angle-right
    %li.categories__list
      =link_to "カテゴリー3", "#"
    %li.categories__list
      %i.fa.fa-angle-right
    %li.categories__list-bold
      = @item.name

.detail
  .main
    .topContent
      .itemBox
        %h2.itemBox__name
          = @item.name
        .itemShowBtn
          = link_to "編集", "#",  class: "itemShowBtn__content"
          = link_to "削除", "#", class: "itemShowBtn__content"
        .itemBox__body
          - @item.item_images.each do |image|
            %ul
              %li
                = image_tag image.url.url
                -# %ul
                -#   %li
                -#     = image_tag image.url.url
        .itemBox__price
          %span
            = @item.price
          .itemBox__price-detail
            %span (税込)
            %span
              = @item.fee_burden.name
        .itemBox__itemDetail
          = @item.detail
        .itemBox__table
          %table
            %tbody
              %tr
                %th 出品者
                %td あああ
              %tr
                %th カテゴリー
                %td
                  = link_to "カテゴリー1", "#"
                  %br
                  = link_to "カテゴリー2", "#"
                  %br
                  = link_to "カテゴリー3", "#"
                  %br
              %tr
                %th ブランド
                %td
              %tr
                %th 商品の状態
                %td
                  = @item.condition.name
              %tr
                %th 配送料の負担
                %td
                  = @item.fee_burden.name
              %tr
                %th 発送元の地域
                %td
                  = link_to @item.prefecture.name, "#"
              %tr
                %th 発送日の目安
                %td
                  = @item.shipping_days.name
        .itemBox__optionalArea
          %ul.itemBox__optionalArea__favorite
            %li 
              %i.fa.fa-star お気に入り 1
          %ul.itemBox__optionalArea__report
            %li
              = link_to "#" do
                %i.fa.fa-flag 不適切な商品の通報
      .commentBox
        .commentList
        - if @comments
          - @comments.each do |comment|
            %p.comments
              %strong
                = link_to comment.user.nickname, "/users/#{comment.user_id}", class:"comments__userName"
                ：
              = comment.text
        %p.notice
          相手のことを考え丁寧なコメントを心がけましょう。
          %br 不快な言葉遣いなどは利用制限や退会処分になることがあります。
        - if current_user
          = form_with(model: [@item, @comment], local: true, class: "commnentForm") do |form|
            = form.text_area :text, rows: "4", class: "textForm"
            %button{type: "submit"}
              %i.fa.fa-comment コメントする
        - else
          %strong
            %p ※ コメントの投稿には新規登録/ログインが必要です ※
    %ul.links
      %li.links__before
        = link_to "#" do
          %i.fa.fa-angle-left
          %span
          前の商品
      %li.links__after
        = link_to "#" do
          後ろの商品
          %span
          %i.fa.fa-angle-right

    .relatedItems
      = link_to "カテゴリー1をもっと見る", "#"
      .productLists
        .productList
          = link_to '#' do
            %figure.productList--img
              = image_tag "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/7/a001.png"
            .productList--body
              %h3.name product1
              .details
                %ul
                  %li 10000円
                  %li
                    %i.fa.fa-star.likeIcon
                    1
                %p (税込)


= render partial: "toppage/footer"