= render partial: "toppage/header"
= stylesheet_link_tag 'items', media: 'all'
%nav.breadCrumbs
  %ul.categories
    %li.categories__list
      =link_to "FURIMA", "#"
    %li.categories__list
      %i.fa.fa-angle-right
    %li.categories__list 
      = link_to @children.parent.name, "#"
    %li.categories__list
      %i.fa.fa-angle-right
    %li.categories__list
      = link_to @children.name, "#"
    %li.categories__list
      %i.fa.fa-angle-right
    %li.categories__list
      = link_to @grandchildren.name, "#"
    %li.categories__list
      %i.fa.fa-angle-right
    %li.categories__list-bold
      = @item.name
.detail
  .main
    .topContent
      .itemBox
        %h2.itemBox__name
          = @item.name
        - if user_signed_in? && current_user.id == @item.user_id
          .itemShowBtn
            = link_to "編集", "#", class: "itemShowBtn__content"
            = link_to "削除", item_path(@item.id), method: :delete, class: "itemShowBtn__content"
        .thumbNail
          = image_tag @item.item_images[0].url.url, class: "thumbNail__content"
        .imageList
          - @item.item_images.each do |image|
            %ul
              %li
                = image_tag image.url.url, class: "imageList__content"
        .itemBox__price
          %span
            = "¥#{@item.price.to_s(:delimited, delimiter: ',')}"
          .itemBox__price-detail
            %span (税込)
            %span
              = @item.fee_burden.name
        .itemBox__itemDetail
          = @item.detail
        .itemBox__table
          %table
            %tbody
              %tr
                %th 出品者
                %td
                  = @item.user.nickname
              %tr
                %th カテゴリー
                %td
                  = link_to @children.parent.name, "#"
                  %br
                  = link_to @children.name, "#"
                  %br
                  = link_to @grandchildren.name, "#"
                  %br
              %tr
                %th ブランド
                -if @item.brand.blank?
                  %td
                - else
                  %td
                    = @item.brand.name

              %tr
                %th 商品の状態
                %td
                  = @item.condition.name
              %tr
                %th 配送料の負担
                %td
                  = @item.fee_burden.name
              %tr
                %th 発送元の地域
                %td
                  = link_to @item.prefecture.name, "#"
              %tr
                %th 発送日の目安
                %td
                  = @item.shipping_days.name
        .itemBox__optionalArea
          %ul.itemBox__optionalArea__favorite
            %li 
              %i.fa.fa-star お気に入り 1
          %ul.itemBox__optionalArea__report
            %li
              = link_to "#" do
                %i.fa.fa-flag 不適切な商品の通報
        - if user_signed_in? && current_user.id == @item.user_id
        - else
          -if @item.order_status == '売切れ'
            .purchaseScreen
              = link_to "売切れました", "#", class:"purchaseButton2"
          - else
            .purchaseScreen
              = link_to "購入画面に進む", done_item_path, class:"purchaseButton"
      .commentBox
        .commentList
          - if @comments
            - @comments.each do |comment|
              %p.showComments
                %strong
                  = link_to comment.user.nickname, "/users/#{comment.user_id}", class:"showComments__userName"
                  ：
                = comment.text
        %p.notice
          相手のことを考え丁寧なコメントを心がけましょう。
          %br 不快な言葉遣いなどは利用制限や退会処分になることがあります。
        - if current_user
          = form_with(model: [@item, @comment], local: true, class: "commentForm") do |form|
            = form.text_area :text, rows: "4", class: "textForm"
            %button{type: "submit", class: "commentSubmit"}
              %i.fa.fa-comment コメントする
        - else
          %strong
            %p ※ コメントの投稿には新規登録/ログインが必要です ※
    %ul.links
      %li.links__before
        = link_to "#" do
          %i.fa.fa-angle-left
          %span
          前の商品
      %li.links__after
        = link_to "#" do
          後ろの商品
          %span
          %i.fa.fa-angle-right

    .relatedItems
      = link_to "カテゴリー1をもっと見る", "#"
      .productLists
        .productList
          = link_to '#' do
            %figure.productList--img
              = image_tag "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/7/a001.png"
            .productList--body
              %h3.name product1
              .details
                %ul
                  %li 10000円
                  %li
                    %i.fa.fa-star.likeIcon
                    1
                %p (税込)


= render partial: "toppage/footer"

= link_to '#' do
  .purchaseBtn
    %span.purchaseBtn__text 出品する
    .purchaseBtn__icon
      =image_tag "/assets/icon/icon_camera.png", width: '80px'